body{
  background-color: rgb(174, 207, 179);
}

h1{
  color: green;
  font-family: "Comic Sans MS", Cursive;
}

.CorVerdeParaTexto{
  color: rgb(242, 255, 138);
}

.TextoExplicação{
  font-size: 17px;
}
